body {
    background-color: #36393F;
    color: #FFFFFF;
    font-family: "Catamaran";
}

.secondback {
    background-color: #2E3036;
}

input {
    background-color: #212325;
    font-family: "Whitney", "Catamaran";
}