body {
    background-color: #36393F;
    color: #FFFFFF;
    font-family: "Catamaran";
    padding: 0;
    margin: 0;
}

#channels {
    background-color: #2E3036;
    position: absolute;
    height: 100%;
    width: 25%;
}

input {
    background-color: #212325;
    font-family: "Whitney", "Catamaran";
}

#textbox {
    width: 900px;
	background-color: rgb(246,246,246);
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
    opacity: 80%;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#voicebox {
    
}