body {
    background-color: #36393F;
    color: #FFFFFF;
    font-family: "Catamaran";
    padding: 0;
    margin: 0;
}

#channels {
    background-color: #2E3036;
    position: absolute;
    height: 100%;
    width: 25%;
}

input {
    background-color: #212325;
    font-family: "Whitney", "Catamaran";
}